/* ESTILOS GENERALES */

:root {
    /* Paleta de colores */
    --fondo-principal: #121212;
    --texto-principal: #F5F5F5;
    --fondo-secundario: #1A1A1A;
    --texto-secundario: #A0A0A0;
    --destacado-1: #D4AF37;
    --destacado-2: #FF9F1C;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo-principal);
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;  
}

p, a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header, footer {
    color: var(--texto-principal);
    text-align: center;
}

header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    width: 80px;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    border: none;
    color: var(--fondo-principal);
    background-color: var(--destacado-2);
    font-size: 0.9rem;
    font-weight: bolder;
}

footer img {
    width: 50px;
}

/* ESTILOS SECCIÓN HERO */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(/assets/hero-section.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    gap: 30px;

}

.hero h1 {
    color: var(--texto-principal);
    text-align: start;
    padding: 0px 12px;
    font-size: 1.8rem;
    margin: 0;
}

.hero p {
    color: var(--texto-principal);
    text-align: start;
    padding: 0 12px;
    font-size: 1.2rem;
    margin: 0;
}

.hero a {
    color: var(--fondo-principal);
    background-color: var(--destacado-2);
    padding: 18px;
    border-radius: 22px;
    border: none;
    font-size: 1.1rem;
    font-weight: bolder;
    width: 210px;
    text-align: center;
}

/* ESTILOS SECCIÓN DE PRECIOS */
.precios {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    align-items: center;
    gap: 10px;
    padding: 15px;
    justify-content: space-between;
}

.precios h2 {
    font-size: 2rem;
    margin: 0px;
    padding: 0;
}

.precios p {
    font-size: 1.1rem;
    padding: 0;
    margin: 0px;
    padding: 0;
    align-self: start;
}

.precios .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.precios .tarjeta1 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-corte.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 350px;
}

.precios .tarjeta2 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-barba.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 350px;
}

.precios .tarjeta3 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-especial.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 350px;
}

.precios h3 {
    text-align: center;
    font-size: 1.6rem;
    margin: 3px;
}


.card {
    width: 350px;
    height: 350px;
    position: relative;
}

.frente, .atras {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* ESTILOS SECCIÓN DE GALERÍA */
.galeria {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: var(--texto-secundario);
    gap: 20px;
    padding: 15px;
    justify-content: space-between;
}

.galeria .contenedor {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 320px;
}

.galeria h2 {
    text-align: center;
    color: var(--fondo-principal);
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

.galeria p {
    text-align: start;
    font-size: 1.1rem;
    margin: 0px;
    padding: 0px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.galeria img {
    height: 350px;
    border-radius: 20px;
    border: 2px solid var(--fondo-principal)
}

/* ESTILOS SECCIÓN TESTIMONIOS */
.testimonios {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.testimonios h2 {
    text-align: center;
    color: var(--texto-principal);
    font-size: 2rem;
    margin: 0;
    padding: 0px;
}

.testimonios .parrafo {
    align-self: start;
    color: var(--texto-principal);
    font-size: 1.1rem;
    margin: 0px;
    padding: 0px;
}

.testimonios .tarjeta-testimonio {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    flex: 0 0 300px;
    background-color: var(--texto-principal);
}

.testimonios p {
    color: var(--fondo-principal);
    text-align: start;
}

.testimonios img {
    width: 150px;
    border-radius: 50%
}

.persona {
    align-self: flex-end;
}

/* ESTILOS SECCIÓN AGENDA */
.agenda {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(/assets/agenda.webp);
    background-repeat: norepeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: var(--texto-principal);
    text-align: center;
    padding: 15px;
    align-items: center;
    gap: 15px;
}

.agenda h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0px;
}

.agenda h3 {
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}

.agenda p {
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.agenda a {
    width: 210px;
    padding: 18px;
    border-radius: 22px;
    border: none;
    color: var(--fondo-principal);
    background-color: var(--destacado-2);
    font-size: 1.1rem;
    font-weight: bolder;    
}

/* DISEÑO RESPONSIVO PARA TABLETAS */
@media (min-width: 768px) {

.hero h1 {
    color: var(--texto-principal);
    font-size: 2.5rem;
    text-align: start;
    padding: 0px 30px;
    margin: 0;
    max-width: 90%;
}

.hero p {
    color: var(--texto-principal);
    font-size: 1.3rem;
    text-align: start;
    padding: 0 30px;
    margin: 0;
    max-width: 90%;
}

.hero a {
    color: var(--fondo-principal);
    background-color: var(--destacado-2);
    padding: 18px;
    border-radius: 22px;
    border: none;
    font-size: 1.3rem;
    font-weight: bolder;
    width: 300px;
}

.precios h2 {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0;
}

.precios .parrafo-precios {
    font-size: 1.3rem;
    padding: 0;
    margin: 0px;
    padding: 0;
    align-self: center;
}

.precios .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.precios .tarjeta1 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-corte.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 320px;
}

.precios .tarjeta2 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-barba.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 320px;
}

.precios .tarjeta3 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-especial.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 320px;
}

.galeria h2 {
    text-align: center;
    color: var(--fondo-principal);
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
}

.galeria p {
    text-align: center;
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
}

.testimonios h2 {
    text-align: center;
    color: var(--texto-principal);
    font-size: 2.5rem;
    margin: 0;
    padding: 0px;
}

.testimonios .parrafo {
    align-self: center;
    color: var(--texto-principal);
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
}

.testimonios .agrupador {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
}

.testimonios .tarjeta-testimonio {
    display: flex;
    flex-direction: column;
    background-color: var(--texto-principal);
    margin: 0;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    flex: 0 0 250px;
    width: 300px;
}

.agenda h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0px;
}

.agenda h3 {
    font-size: 1.7rem;
    margin: 0px;
    padding: 0px;
}

.agenda p {
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
}

.agenda a {
    width: 210px;
    padding: 15px;
    border-radius: 22px;
    border: none;
    color: var(--fondo-principal);
    background-color: var(--destacado-2);
    font-size: 1.3rem;
    font-weight: bolder;    
}

header a {
    width: 100px;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    border: none;
    color: var(--fondo-principal);
    background-color: var(--destacado-2);
    font-size: 1.1rem;
    font-weight: bolder;
}

footer img {
    width: 70px;
}
}

/* DISEÑO RESPONSIVO PARA LAPTOPS Y MONITORES PEQUEÑOS */
@media (min-width: 1024px) {
.hero {
    padding-bottom: 30px;
}

.hero h1 {
    color: var(--texto-principal);
    text-align: start;
    padding: 0px 10px;
    font-size: 2.8rem;
    margin: 0;
    max-width: 1000px;
    text-align: center;
}

.hero p {
    color: var(--texto-principal);
    text-align: start;
    padding: 0 10px;
    font-size: 1.6rem;
    margin: 0;
    max-width: 1000px;
    text-align: center;
}

.precios {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    align-items: center;
    gap: 20px;
    padding: 15px;
    justify-content: space-between;
    height: 75vh;
}

.galeria {
    padding-bottom: 30px;
}

.agrupador {
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.testimonios .tarjeta-testimonio {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    flex: 0 0 250px;
}

}

/* DISEÑO RESPONSIVO PARA PANTALLAS GRANDES */

@media (min-width: 1440px) {
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(/assets/hero-section.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
}

.hero h1, .hero p, .hero a {
    max-width: 1200px;
    text-align: center;
}

.precios {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-principal);
    color: var(--texto-principal);
    align-items: center;
    gap: 10px;
    padding: 15px;
    justify-content: space-around;
    height: 50vh;
}

.precios .tarjeta1 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-corte.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 360px;

}

.precios .tarjeta2 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-barba.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 360px;
}

.precios .tarjeta3 {
    border: solid 1px var(--texto-principal);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(/assets/servicio-especial.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 30px;
    gap: 15px;
    flex: 0 0 360px;
}

}

/* ANIMACIONES */
/* .boton-header:hover {
    background-color: var(--texto-secundario);
    color: var(--fondo-principal);
}

.boton:hover {
    background-color: var(--fondo-principal);
    color: var(--texto-secundario);
}

.boton:active {
    background-color: var(--texto-secundario);
    color: var(--fondo-principal);
} */

